<a href="https://colab.research.google.com/github/lucaanescu/DS-Assignment-Submission-Practice-Repository/blob/master/WarmupD2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import pandas with the standard alias
import pandas as pd

# Set a variable to the URL you copied above
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data'

# Read or load the data
df = pd.read_csv(url)

Some initiating of the future code

The following will be the manipulation and maintenance of the columns

In [2]:
df.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

In [7]:
mycols = ['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'column 6', 'column 7', 'column 8', 'column 9', 'column 10']

df = pd.read_csv(url, names=mycols)

df.head()

  column 1 column 2 column 3 column 4  ... column 7 column 8 column 9 column 10
0        x        x        x        x  ...        x        o        o  positive
1        x        x        x        x  ...        o        x        o  positive
2        x        x        x        x  ...        o        o        x  positive
3        x        x        x        x  ...        o        b        b  positive
4        x        x        x        x  ...        b        o        b  positive

[5 rows x 10 columns]